// Colors

$white: #fff;
$primary-color: #66E3C6;
$secondary-color: #51DDFC;

$copy-color: #808080;
$link-color: #7BE5FD;


//layout

$max-width: 1100px;
$gutter: 10px;


// Breakpoints
$break: (
 'med': 768px,
  'lg': 992px,
);

// Grid Colors
$grid-colors: (
'3': lavender,
'4': $secondary-color,
'5': lightgreen,
'6': teal,
'7': tomato,
'8': orange,
'12': $primary-color
);
