// Colors

$white: #fff;
$primary-color: #66E3C6;
$secondary-color: #51DDFC;

$copy-color: #808080;
$link-color: #7BE5FD;


//layout

$max-width: 1100px;
$gutter: 10px;


// Breakpoints
$breakpoints: (
 'med': 768px,
  'lg': 992px,
);
