.img--logo {}
.img--frame{}
.img--avatar{}


.img {
  &--logo{
    text-align: center;
  }
  &--avatar{
    padding-bottom: 30px;
  }
  &--frame{
    padding: 15px;
    border: 1px solid $copy-color;
  }
}
