.link {
  color: $link-color;
  text-decoration: none;
  font-weight: bold;
}

.container {
  text-decoration: none;
  color: $copy-color;
}

//.headline--primary
//.headline--secondary

.headline {
    &--primary {
    color: $primary-color;
    margin: 0.35em 0 0;
    line-height: 1.25;
  }
}

p {
  color: $copy-color;
  line-height: 2em;
}

.blockquote {
  color: $copy-color;
  font-style: italic;
  font-size: 1.5em;
  font-weight: 100;
  line-height: 1em;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: $primary-color 6px solid;
  border-radius: .2em;
}
