* {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%;
}
ul {
  list-style: none;
  text-decoration: none;
  color: $copy-color;
}
p {
  margin-bottom: 1.25em;
}
